.destinations-nav {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #335576;
  position: fixed;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.destinations-nav__title {
  padding-left: 50px;
}
.destinations-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-left: 900px;
  color: black;
}
.destinations-nav__item {
  padding: 10px;
  color: black;
}
.destinations-nav__link {
  text-decoration: none;
  color: #335576;
}
.destinations-nav__link--active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #DB7A4E;
          text-decoration-color: #DB7A4E;
}

.itinary-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 800px;
}
.itinary-card__header {
  position: absolute;
  bottom: 500px;
  right: 1040px;
  font-size: 65px;
  color: #FFFFFF;
}
.itinary-card__friday {
  position: relative;
  margin: 50px 250px 50px 250px;
  width: 270px;
  height: 360px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  bottom: 550px;
  border-radius: 5px;
  padding-top: 1px;
}
.itinary-card__title1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-bottom: 3px solid black;
  width: 265px;
}
.itinary-card__description {
  display: flex;
  align-content: space-between;
  margin: 30px 40px 10px 10px;
  font-size: 18px;
  padding: 5px 5px 10px 50px;
  background-color: #fefaf5;
}
.itinary-card__saturday {
  position: relative;
  margin: 50px 250px 50px 250px;
  width: 270px;
  height: 360px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  bottom: 960px;
  left: 320px;
  border-radius: 5px;
  padding-top: 1px;
}
.itinary-card__title2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-bottom: 3px solid black;
  width: 265px;
}
.itinary-card__sunday {
  position: relative;
  margin: 50px 250px 50px 250px;
  width: 270px;
  height: 360px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  bottom: 1370px;
  left: 640px;
  border-radius: 5px;
  padding-top: 1px;
}
.itinary-card__title3 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-bottom: 3px solid black;
  width: 265px;
}
.itinary-card__image {
  width: 100%;
  height: 800px;
  margin: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.itinary-card .about-section {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  background-color: #fefaf5;
}
.itinary-card .about-section__sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: #DB7A4E;
  font-size: 10px;
}
.itinary-card .about-section__title {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  color: #335576;
  font-size: 23px;
  padding: 20px 0px 5px 0px;
}
.itinary-card .about-section__description, .itinary-card .about-section__description2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  color: #335576;
  padding-bottom: 20px;
  padding-top: 5px;
}
.itinary-card .about-section__hours2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0px;
}
.itinary-card .about-section__images {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
}
.itinary-card .about-section__ig, .itinary-card .about-section__fb, .itinary-card .about-section__twitter {
  max-width: 20px;
  max-height: 20px;
}/*# sourceMappingURL=destinations.css.map */