.primary-nav {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
  color: #335576;
  position: fixed;
  width: 100%;
}
.primary-nav__title {
  padding-left: 50px;
}
.primary-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-left: 900px;
  color: black;
}
.primary-nav__item {
  padding: 10px;
  color: black;
}
.primary-nav__link {
  text-decoration: none;
  color: #335576;
}
.primary-nav__link--active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #DB7A4E;
          text-decoration-color: #DB7A4E;
}

.main-advert {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  background: #fefaf5;
  color: #335576;
  max-width: 100%;
  height: 700px;
}
.main-advert__image {
  max-width: 500px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 250px;
}
.main-advert__left {
  max-width: 500px;
}
.main-advert__left__title {
  color: #335576;
  font-size: 1000px;
}
.main-advert__left__description {
  color: #335576;
}
.main-advert .main-advert__button {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #DB7A4E;
  border-radius: 10px;
  padding: 8px 5px 8px 5px;
  width: 200px;
}

.recommendations-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: auto;
  height: auto;
  margin: 50px 250px 50px 250px;
  position: relative;
}
.recommendations-card__image {
  max-width: 400px;
  height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.recommendations-card__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
  font-size: 25px;
  padding-left: 100px;
}
.recommendations-card__description1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 25px;
  bottom: 10px;
  left: 150px;
}
.recommendations-card__description2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 25px;
  bottom: 10px;
  left: 460px;
}
.recommendations-card__description3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 25px;
  bottom: 10px;
  left: 790px;
}

.about-section {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  background-color: #fefaf5;
}
.about-section__sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #db7a43;
  font-size: 10px;
}
.about-section__title {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  color: #335576;
  font-size: 23px;
  padding: 20px 0px 5px 0px;
}
.about-section__description, .about-section__description2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  color: #335576;
  padding-bottom: 20px;
  padding-top: 5px;
}
.about-section__hours2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0px;
}
.about-section__images {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
}
.about-section__ig, .about-section__fb, .about-section__twitter {
  max-width: 20px;
  max-height: 20px;
}/*# sourceMappingURL=main.css.map */