@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin navstyle {
    background-color: #FFFFFF;
    color: #335576;
    position: fixed;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin primaryfont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}